/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header img {
  width: 100%;
  max-width: 150px;
}

/* Tablet width */
@media (min-width: 768px) {
  .header img {
    max-width: 170px;
  }
}

/* Laptop Screens */
@media (min-width: 1280px) {
  .header img {
    max-width: 200px;
  }
}
